.scroll-overflow{
    overflow: scroll;
}

.logo img {
    margin-top:10px;
    overflow: hidden;
    height: 100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav .navbar-font {
    padding: 10px 17px;
    color: white;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
}