body{
    padding-top: 65px;
    padding-bottom: 65px;
    overflow: hidden;
}

.scroll-overflow{
    overflow: scroll;
}

input.form-control {
    margin-bottom: 5px;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav .navbar-font {
    padding: 10px 17px;
    color: white;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
}

.divider-right {
    border-right: 1px solid lightgray;
    -webkit-border-vertical-spacing: 20px;
    margin-top: -45px;
    height: 100vh;
}

a:hover {
    text-decoration: none;
}

.list-group-item{
    border: none;
}

.relative-position{
    position: relative;
}
.absolute-position {
    position: absolute;
}
.list-element-menu {
    top: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    position: absolute;
}
.zero-right-padding {
    padding-right: 0;
}

.glyphicon-ok,
.glyphicon-user{
    margin-right: 15px;
    color: white;
}

.white {
    background: white !important;
}
