<div class="container screen-min">
    <div class="community-font text-center center-block">
        <h2><u>Suggested People</u></h2>
        <h3 ng-if = "model.suggestedUsers.length >= 1">
            Hey {{currentUser.firstName ? currentUser.firstName : currentUser.username}}, make some new friends here:
        </h3>
        <br>
        <ul class="thumbnails list-inline">
            <li ng-repeat="user in model.suggestedUsers">
                <div class="thumbnail">
                    <a href="#">
                        <img ng-src="{{user.profile_pic_url}}" width="120px" height="120px">
                        <h3><p align="center">{{user.firstName ? user.firstName : user.username}}</p></h3>
                    </a>
                    <a ng-click="model.addFollowing(user)" width="100%"
                       class="btn btn-primary btn-block" role="button">
                        Follow
                    </a>
                </div>
            </li>
        </ul>
        <div ng-if = "(model.suggestedUsers.length < 1) && (model.following.length < 1)" class="text-center more-button" >
            <h3 class="community-font text-center">No other users yet :(</h3>
        </div>
        <div ng-if = "(model.suggestedUsers.length < 1) && (model.following.length >= 1)" class="text-center more-button" >
            <h3 class="community-font text-center">No new users to follow yet <i class="fa fa-smile-o" aria-hidden="true"></i></h3>
        </div>
        <br>
    </div>
    <div class="community-font text-center center-block">
        <h2><u>You are Following</u></h2>
        <br>
        <ul class="thumbnails list-inline">
            <li ng-repeat="f in model.following">
                <div class="thumbnail ">
                    <img ng-src="{{f.profile_pic_url}}">
                    <a href="#">
                        <h4>
                            <p align="center">{{f.firstName ? f.firstName : f.username}}</p>
                        </h4>
                    </a>
                    <a ng-click = "model.removeFollowing(f)" width="100%"
                       class="btn btn-primary btn-block" role="button">
                        Stop Following
                    </a>
                </div>
            </li>
        </ul>

        <div ng-if = "model.following.length < 1" class="text-center more-button" >
            <h3>Uh ho! You don't follow anyone yet <i class="fa fa-frown-o" aria-hidden="true"></i></h3>
        </div>
        <br>
    </div>
    <div class="community-font text-center center-block">
        <h2><u>Your Followers</u></h2>
        <br>
        <ul class="thumbnails list-inline">
            <li ng-repeat="follower in model.followers">
                <div class="thumbnail">
                    <a href = "#">
                        <img ng-src="{{follower.profile_pic_url}}">
                        <h4><p align="center">{{follower.firstName ? follower.firstName : follower.username}}</p></h4></a>
                </div>
            </li>
        </ul>

        <div ng-if = "model.followers.length < 1" class="text-center more-button" >
            <h3 class="community-font text-center">No Follower's yet <i class="fa fa-frown-o" aria-hidden="true"></i></h3>
        </div>
    </div>
    <br>
</div>
