<div class="container">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <h1 class="text-center">Login</h1>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   ng-model="model.user.username"
                   class="form-control"
                   id="username"
                   placeholder="Username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   ng-model="model.user.password"
                   class="form-control"
                   id="password"
                   placeholder="Password"/>
        </div>
        <a ng-click="model.login(model.user)" class="btn btn-primary btn-block">Login</a>
        <a href="/auth/google" class="btn btn-danger btn-block">
            <span class="fa fa-google-plus"></span>
            Google
        </a>
        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>
        <a class="btn btn-success btn-block" href="#/register">Register</a>
    </form>
</div>
