<div class="container">
    <div class="container">
        <div class="text-center center-block">
            <h2 class="community-font timeline-header-color">Register</h2>
        </div>
        <form>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text"
                       ng-model="model.user.firstName"
                       class="form-control"
                       id="firstName"
                       placeholder="First Name"/>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text"
                       ng-model="model.user.lastName"
                       class="form-control"
                       id="lastName"
                       placeholder="Last Name"/>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       ng-model="model.user.username"
                       class="form-control"
                       id="username"
                       placeholder="Username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       ng-model="model.user.password"
                       class="form-control"
                       id="password"
                       placeholder="Password"/>
            </div>
            <div class="form-group">
                <label for="password2">Verify Password</label>
                <input type="password"
                       ng-model="model.user.verify"
                       class="form-control"
                       id="password2"
                       placeholder="Verify Password"/>
            </div>
            <a ng-click="model.register(model.user)" class="btn btn-info btn-block">Register</a>
            <a class="btn btn-danger btn-block" href="#/login">Cancel</a>
            <br>
        </form>
    </div>
</div>
