<div ng-if="model.user.reviews.length < 1">
    <h5>You have not submitted any reviews yet <span class="fa fa-frown-o"></span></h5>
</div>
<div ng-if="model.user.reviews.length >= 1" class="content-section-a" id="timeline">
    <div class="container">
        <header class="page-header">
            <h1 class="timeline-header-color">Your Reviews</h1>
        </header>

        <ul>
            <li ng-repeat="review in model.user.reviews" ng-class-odd="timeline" ng-class-even="timeline-inverted">
                <div class="tldate">{{review.dateCreated}}</div>
                <div class="tl-circ">
                    <img class="rotate" src="img/circ.png" alt="Generic placeholder image">
                </div>
                <div class="timeline-panel">
                    <div class="tl-heading">
                        <h4>{{review._rest.name}}</h4>
                        <strong>{{review._rest.location.city}}</strong>
                    </div>
                    <br>
                    <div class="tl-body">
                        <p>{{review.review}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>