<a ng-if="(model.key) && (model.loc)" href="#/home/loc/{{model.loc}}/key/{{model.key}}">
    <!--<span class="glyphicon glyphicon-chevron-left" style="position: fixed; margin-bottom: -10px; z-index: 9999 "></span>-->
    <i class="stick-arrow fa fa-arrow-left"></i>
</a>
<a ng-if="!(model.key) && (model.loc)" href="#/home/loc/{{model.loc}}">
    <!--<span class="glyphicon glyphicon-chevron-left" style="position: fixed; margin-bottom: -10px; z-index: 9999 "></span>-->
    <i class="stick-arrow fa fa-arrow-left"></i>
</a>
<a ng-if="(model.dest == 'self') && (model.page == 'review')" href="#/user/reviews">
    <!--<span class="glyphicon glyphicon-chevron-left" style="position: fixed; margin-bottom: -10px; z-index: 9999 "></span>-->
    <i class="stick-arrow fa fa-arrow-left"></i>
</a>
<a ng-if="(model.dest == 'self') && (model.page == 'favorite')" href="#/user/favorites">
    <!--<span class="glyphicon glyphicon-chevron-left" style="position: fixed; margin-bottom: -10px; z-index: 9999 "></span>-->
    <i class="stick-arrow fa fa-arrow-left"></i>
</a>
<a ng-if="(model.page == 'profile')" href="#/user/profile/{{model.dest}}">
    <!--<span class="glyphicon glyphicon-chevron-left" style="position: fixed; margin-bottom: -10px; z-index: 9999 "></span>-->
    <i class="stick-arrow fa fa-arrow-left"></i>
</a>
<div>
<div>
    <ng-map class="map-prop"
            center="[{{model.restaurant.location.coordinate.latitude}}, {{model.restaurant.location.coordinate.longitude}}]" >
        <marker position="[{{model.restaurant.location.coordinate.latitude}}, {{model.restaurant.location.coordinate.longitude}}]"
                title="{{restaurant.name}}" animation="Animation.BOUNCE" centered="true"></marker>
    </ng-map>
</div>

<div class="border-restaurant">
    <div class="row">
        <div class="col-md-6 polaroid">
            <img ng-if="!model.restaurant.image_url" class="container img-responsive center-block"
                 src="http://placehold.it/600x400">
            <img ng-if="model.restaurant.image_url" class="container img-responsive center-block"
                 ng-src="{{model.restaurant.image_url}}">
        </div>
        <div class="col-md-6 container-fluid restaurant-font">
            <h3>
                {{model.restaurant.name}}
                <img class="image-responsive restaurant-rating pull-right mam"
                     ng-src="{{model.restaurant.rating_img_url}}"
                     alt="Image currently unavailable">
            </h3>
            <h4><u>Rating:</u> &nbsp; {{model.restaurant.rating}}</h4>
            <h4 ng-if="model.restaurant.display_phone"><u>Contact:</u> {{model.restaurant.display_phone}}</h4>
            <h4><u>Address:</u> &nbsp; <span ng-repeat="address in model.restaurant.location.display_address"> {{address}}{{$last ? '' : ','}}</span></h4>
            <h4><u>Cuisines:</u> &nbsp; <span ng-repeat="category in model.restaurant.categories"> {{category[0]}}{{$last ? '' : ','}}</span>
            </h4>
            <h4 ng-if="loggedInUser">
                <u>Favorite this Restaurant?</u>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-info"
                        ng-click="model.updateFavorite(model.restaurant)" ng-if ="model.currentUser">
                    <span ng-show="model.isFavorite == 'true'" class="glyphicon glyphicon-star"></span>
                    <span ng-show="!model.currentUser || !model.currentUser.favorites || model.isFavorite == 'false'"
                          class="glyphicon glyphicon-star-empty"></span>
                </button>
            </h4>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <div class=container"">
        <div>
            <div class="img-responsive review">
                <span><img ng-if="!loggedInUser" src="http://placehold.it/100x100">
                <img ng-if="loggedInUser" ng-src="{{model.currentUser.profile_pic_url}}">
                <textarea placeholder="Write a review..." class="form-control review-textarea ng-pristine ng-valid ng-touched" name="name" rows="4" cols="20"
                          ng-model="model.review.review" ng-focus="focused = true"></textarea>
                </span>
            </div>
            <form class="form-horizontal ng-pristine ng-valid">
                <div ng-show="focused">
                    <label>Rating: </label>
                    <uib-rating ng-model="model.review.rating"  max="5" read-only="isReadonly" on-hover="hoveringOver(value)"
                                on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating">
                    </uib-rating>
                    <a class="btn btn-info form-control"
                       ng-if="loggedInUser" ng-click="model.createReview(model.review)">Submit Review</a>
                    <a class="btn btn-info form-control" href="#/login"
                       ng-if="!loggedInUser">Login to rewrite review
                    </a>
                </div>
            </form>
            </div>
            <br class="pal">
            <div class="container-fluid">
                <div class="panel-group">
                    <div ng-repeat="review in model.reviews" class="panel panel-info">
                        <div class="panel-heading user">
                            <span>
                                <img ng-if="!review._user.profile_pic_url" src="http://placehold.it/50x50">
                                <img ng-if="review._user.profile_pic_url" ng-src={{review._user.profile_pic_url}}>
                                <uib-rating class="pull-right" ng-model="review.rating" max="5" read-only="true"  titles="['one','two','three']"
                                            aria-labelledby="default-rating"></uib-rating>
                                <h4 class="user-hover">
                                    <a href="#/user/profile/{{review._user._id}}">{{review._user.firstName ? review._user.firstName + (review._user.lastName ? " " + review._user.lastName : "") : review._user.username}}</a>
                                </h4>
                             </span>
                        </div>
                        <div class="panel-body">
                            <h5>{{review.dateCreated| date:'MM/dd/yyyy'}}</h5>
                            <h5>{{review.review}}</h5>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div ng-if = "model.reviews.length < 1" class="text-center more-button" >
               Be the first foodie to write a review for {{model.restaurant.name}}!
            </div>
        </div>
    </div>
</div>
<br class="pal">