<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div ng-show="model.message" class="alert alert-danger" role="alert">
        {{model.message}}
    </div>

    <div>
        <h2>
            Hey {{currentUser.username}}, make new friends here:
        </h2>
        <br>
        <ul class="thumbnails list-inline">
            <li ng-repeat="user in model.allUsers">
                <div class="thumbnail" ng-hide="model.isCurrentUser(user.username) || model.isFriend(user)">
                    <!--userFav.resIds.indexOf(searchDetail.id) == -1-->
                    <a href="#/profile/{{user.username}}/profile"><img src="//placehold.it/120x120">
                        <h4><p align="center">{{user.username}}</p></h4>
                    </a>
                    <a ng-click="model.addFriend(user)" width="100%"
                       class="btn btn-primary btn-block" role="button">
                        Add Friend
                    </a>
                </div>
            </li>
        </ul>

        <div ng-if = "model.allUsers.length <= 1" class="text-center more-button" >
            <h3>No other users yet :(</h3>
        </div>
        <div ng-if = "(model.allUsers.length - 1) == (model.friends.length)" class="text-center more-button" >
            <h3>No new users to make friends yet :)</h3>
        </div>
        <br>
    </div>
    <div>
        <h2>Your friends</h2>
        <br>
        <ul class="thumbnails list-inline">
            <li ng-repeat="friend in model.friends">
                <div class="thumbnail ">
                    <img src="//placehold.it/120x120">
                    <div class = "notify">
                        <span ng-if="model.hasNotification(friend.notify)" class="glyphicon glyphicon-heart red" ></span>
                        <h4 ng-if="model.hasNotification(friend.notify)"> New Notification</h4>
                        <span ng-if="!model.hasNotification(friend.notify)" class="glyphicon glyphicon-heart-empty" ></span>
                    </div>
                    <a href="#/profile/{{friend.username}}/profile">
                        <h4>
                            <p align="center">{{friend.followerName}}</p>
                        </h4>
                    </a>
                    <a ng-click = "model.removeFriend(friend.followerName)" width="100%"
                       class="btn btn-primary btn-block" role="button">
                        Remove friend
                    </a>
                </div>
            </li>
        </ul>

        <div ng-if = "model.friends.length < 1" class="text-center more-button" >
            <h3>Uh ho! You don't have any friends yet :(</h3>
        </div>
        <br>
    </div>
    <div>
        <h2>Your Followers</h2>
        <br>
        <ul class="thumbnails list-inline">
            <li ng-repeat="follower in model.followers">
                <div class="thumbnail">
                    <a href = "#/api/profile/{{follower.userName}}/profile"><img src="//placehold.it/120x120">
                        <h4><p align="center">{{follower.userName}}</p></h4></a>
                </div>
            </li>
        </ul>

        <div ng-if = "model.followers.length < 1" class="text-center more-button" >
            <h3>No Follower's yet :(</h3>
        </div>
    </div>
    <br>
</div>
