<nav id="myNav" class="navbar navbar-default navbar-fixed-top fixed-pos" ng-controller = "HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="back-button" class="navbar-brand pull-left" href="#" style="visibility: hidden"><i class="fa fa-arrow-left" aria-hidden="true"> </i></a>
            <a id="foodbook-nav" class="rotate pull-left" href="#"><img class="img-responsive img-thumbnail" src="../../favicon.ico" ></a>
            <a class="navbar-brand page-scroll" href="#">FoodBook</a>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="menuItem fold"><a href="#/login">Login</a>
                <li class="menuItem fold"><a href="#/Register">Register</a>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">User
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Favourites</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Community</a></li>
                    </ul>
                </li>
                </li>
                <li class="menuItem fold"><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="home">

</div>
<!--<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/jquery.corner.js"></script>
<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="js/classie.js"></script>
<script src="js/uiMorphingButton_inflow.js"></script>
<script src="js/jquery.magnific-popup.js"></script>-->

<script src="js/script.js"></script>
<!-- StikyMenu -->
<script src="js/stickNav.js"></script>