<!-- Header Section End -->
<section id="intro" class="section-intro">
    <div class="overlay">
        <div class="container">
            <div class="main-text">
                <h1 class="header-intro-title">Welcome To <span style="color: #3498DB">Foodbook</span></h1>
                <p class="sub-title">The ultimate guide to best restaurant recommendations for foodies</p>

                <div class="form-group">
                    <input type="text" ng-model="model.location" class="form-control" id="location" placeholder="Location: Boston, New York">
                </div>
                <div class="form-group">
                    <input type="text" ng-model="model.searchKeyword" class="form-control" id="keyword" placeholder="Food Keyword (Optional): sushi, pizza, burger...">
                </div>

                <div class="form-group">
                    <button ng-click="model.search()" class="btn btn-primary btn-block"><strong>Search</strong></button>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section id="search-result">
    <div class="container">
        <div class="panel-group">
            <div ng-repeat="restaurant in model.restaurants" class="panel panel-info">
                <a href="#/home/{{restaurant.id}}">
                    <div class="panel-heading"><h3>{{restaurant.name}}</h3></div>
                    <ul class="list-group panel-body">
                        <div class="row container text-center">
                            <div class="col-sm-3">
                                <img class="img-responsive center-block" src="{{restaurant.image_url}}">
                            </div>
                            <div class="col-sm-3">
                                <h4>Rating:</h4>
                                <img class="img-responsive center-block" src="{{restaurant.rating_img_url}}">
                            </div>
                            <div class="col-sm-3">
                                <h4>Address:</h4>
                                <h5>{{restaurant.location.address[0]}}</h5>
                            </div>
                            <div class="col-sm-3">
                                <h4>Contact:</h4>
                                <h5>{{restaurant.display_phone}}</h5>
                            </div>
                        </div>
                    </ul>
                </a>
            </div>
        </div>
    </div>
</section>